.map {
  height: 100vh;
  width: 100%;
  margin: 0 auto; }

.control-button, .yaoling-filter-button, .locate-button {
  width: 2.75rem;
  height: 2.75rem;
  border: 0.125rem solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  background: #fff;
  border-radius: 0.3125rem; }
  .control-button a, .yaoling-filter-button a, .locate-button a {
    width: 2.75rem;
    height: 2.75rem;
    background-size: 1.625rem 1.625rem;
    text-align: center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block; }

.yaoling-filter-button a {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='iso-8859-1'?%3E %3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E %3Cg%3E %3Cg%3E %3Cpath d='M480.159,45.81H31.841C14.284,45.81,0,60.093,0,77.65v37.472c0,17.557,14.284,31.841,31.841,31.841h14.907L211.305,311.52 v144.056c0,4.293,2.586,8.163,6.552,9.806c1.313,0.543,2.692,0.808,4.059,0.808c2.763,0,5.478-1.078,7.508-3.109l68.559-68.56 c1.99-1.991,3.109-4.69,3.109-7.505v-75.498l164.554-164.555h14.514c17.557,0,31.841-14.284,31.841-31.841V77.65 C512,60.093,497.716,45.81,480.159,45.81z M282.968,299.621c-2.096,2.096-3.128,4.85-3.104,7.597v75.404l-47.332,47.332V307.156 c0.007-2.727-1.027-5.455-3.107-7.536L76.768,146.963h358.857L282.968,299.621z M490.773,115.122 c0,5.852-4.761,10.614-10.614,10.614H31.841c-5.852,0-10.614-4.761-10.614-10.614V77.65c0-5.852,4.761-10.614,10.614-10.614 h448.319c5.852,0,10.614,4.761,10.614,10.614V115.122z'/%3E %3C/g%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3C/svg%3E"); }

.locate-button a {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='iso-8859-1'?%3E %3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 275.334 275.334' style='enable-background:new 0 0 275.334 275.334;' xml:space='preserve'%3E %3Cg%3E %3Cpath d='M137.667,168.021c16.737,0,30.354-13.617,30.354-30.354s-13.617-30.354-30.354-30.354s-30.354,13.617-30.354,30.354 S120.93,168.021,137.667,168.021z M137.667,119.313c10.121,0,18.354,8.233,18.354,18.354s-8.233,18.354-18.354,18.354 s-18.354-8.233-18.354-18.354S127.546,119.313,137.667,119.313z'/%3E %3Cpath d='M269.334,131.667h-23.775c-3.015-54.818-47.074-98.877-101.892-101.892V6c0-3.313-2.687-6-6-6s-6,2.687-6,6v29.605 c0,3.313,2.687,6,6,6c52.969,0,96.062,43.093,96.062,96.062s-43.093,96.062-96.062,96.062s-96.062-43.093-96.062-96.062 c0-36.783,21.452-70.817,54.651-86.704c2.989-1.431,4.253-5.013,2.822-8.002c-1.43-2.988-5.015-4.252-8.002-2.822 c-18.131,8.676-33.473,22.217-44.366,39.158c-10.11,15.724-15.897,33.718-16.924,52.37H6c-3.313,0-6,2.687-6,6s2.687,6,6,6h23.775 c3.015,54.818,47.074,98.877,101.892,101.892v23.775c0,3.313,2.687,6,6,6s6-2.687,6-6v-23.775 c54.818-3.015,98.877-47.074,101.892-101.892h23.775c3.313,0,6-2.687,6-6S272.647,131.667,269.334,131.667z'/%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3C/svg%3E"); }

.popup {
  display: flex;
  flex-direction: column; }
  .popup .owner {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .popup .owner .owner-power {
      margin-left: 0.5rem; }
  .popup .sprites {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .popup .sprites img {
      width: 2.5rem; }
    .popup .sprites figure {
      margin: 0; }
    .popup .sprites figcaption {
      text-align: center; }

.background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  justify-content: center;
  align-items: center; }

.dialog {
  width: 72%;
  height: 72%;
  background: rgba(252, 252, 252, 0.9);
  border-radius: 0.75rem;
  -webkit-backdrop-filter: blur(0.625rem);
          backdrop-filter: blur(0.625rem);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column; }
  .dialog header {
    position: relative;
    min-height: 1.875rem;
    flex-grow: 0;
    flex-shrink: 0; }
    .dialog header .title {
      text-align: center; }
    .dialog header .close {
      position: absolute;
      right: 0;
      top: 0;
      width: 2.5rem;
      height: 2.5rem;
      text-align: center;
      line-height: 2.5rem;
      font-size: 2.25rem; }
  .dialog .content {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    /* need this to position inner content */
    overflow-y: auto; }
  .dialog footer {
    flex-grow: 0;
    flex-shrink: 0; }

.YaolingEntry {
  display: flex;
  align-items: center;
  overflow: auto;
  width: 100%;
  height: 4rem;
  border-bottom-style: solid;
  border-width: 0.0625rem; }
  .YaolingEntry .avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border-width: 0.125rem;
    border-color: #000000;
    border-style: solid; }
  .YaolingEntry .name {
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex-grow: 1; }
  .YaolingEntry .checkbox {
    padding-right: 0.5em; }

.YaolingFilterList {
  padding: 0 1.25rem; }

.YaolingFilterButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 2.5rem; }
  .YaolingFilterButtons div {
    flex-grow: 1;
    text-align: center;
    border-width: 0.125rem;
    border-color: #000000;
    border-style: solid; }

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


